.property {
  cursor: pointer;
  overflow-x: hidden;
}
.property {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: grid;
  place-items: center;
}
.center h3 {
  font-size: 42px;
  font-weight: 500;
  color: #001d38;
  font-family: serif;
}

.row {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.singleproperty {
  width: 350px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  margin-bottom: 30px;
  overflow: hidden;
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
}
.propertythumb {
  position: relative;
  overflow: hidden;
}
.propertytag {
  position: absolute;
  top: 25px;
  left: 25px;
  background: #fda25c;
  padding: 8px 14px;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  z-index: 1;
  font-family: sans-serif;
}
.propertythumb img {
  width: 350px;
  height: 270px;
  vertical-align: middle;
  transition: 3s;
  object-fit: cover;
}

.singleproperty:hover {
  transform: scale(1.06);
}
.propertythumb img {
  transform: scale(1.06);
}
.propertycontent {
  padding: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.propertycontent h3 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #001d38;
  font-weight: 500;
  font-family: sans-serif;
}
.mark {
  display: flex;
  align-items: center;
}
.mark span {
  font-size: 13px;
  font-weight: 400;
  color: #919191;
  margin-left: 5px;
  font-family: sans-serif;
}
.amount {
  display: inline-block;
  background: #00d363;
  border-radius: 30px;
  padding: 7px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin-top: 13px;
  font-family: sans-serif;
}
.propertyfooter {
  padding: 12px 25px;
}
.propertyfooter ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.propertyfooter ul li {
  display: flex;
  align-items: center;
}
.propertyfooter ul li span {
  font-family: sans-serif;
  color: #0a1826;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}
.propertyfooter ul li img {
  width: 16px;
}
.moreproperty {
  padding-top: 2rem;
}
.propertybtn {
  padding: 14px 31px;
  display: inline-block;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #fda25c;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  color: #fda25c;
  transition: 0.5s ease;
}

.propertybtn:hover {
  box-shadow: 0 0 40px 40px #fda25c inset;
  color: white;
}

@media screen and (max-width: 1156px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .property {
    padding-bottom: 2rem;
  }
  .row {
    grid-template-columns: 1fr;
  }
  .singleproperty {
    width: 500px;
  }
  .column {
    padding-bottom: 2rem;
  }
  .propertythumb img {
    width: 500px;
  }
  .propertycontent {
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 560px) {
  .singleproperty {
    width: 450px;
  }
  .propertythumb img {
    width: 450px;
  }
  .column {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 483px) {
  .center h3 {
    font-size: 35px;
  }
  .singleproperty {
    width: 400px;
  }
  .propertythumb img {
    width: 400px;
  }
  .moreproperty {
    padding: 12px 25px;
    font-size: 14px;
  }
  .propertybtn {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .singleproperty {
    width: 350px;
  }
  .propertythumb img {
    width: 350px;
  }
  .column {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 383px) {
  .property h3 {
    font-size: 28px;
  }
  .propertycontent h3 {
    font-size: 14px;
  }
  .singleproperty {
    width: 300px;
  }
  .propertythumb img {
    width: 300px;
  }
  .column {
    padding-left: 15px;
    padding-right: 15px;
  }
  .propertyfooter ul li span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 3px;
  }
  .propertyfooter ul li img {
    width: 14px;
  }
}

@media screen and (max-width: 321px) {
  .singleproperty {
    width: 270px;
  }
  .propertythumb img {
    width: 270px;
  }
  .column {
    padding-left: 15px;
    padding-right: 15px;
  }
  .propertyfooter {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 291px) {
  .singleproperty {
    width: 230px;
  }
  .propertythumb img {
    width: 230px;
  }
  .propertycontent {
    padding: 10px;
  }
}
